*{
    margin: 0;
    padding: 0;
   
    color: rgb(21, 20, 20);
  }
  #navbar{
    width: 98.5%;
    height: 40px;
    margin: auto;
    border: 1px solid ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;        
  }
  #add-money{
    width: 50%;
    margin: auto;
  
    text-align: center;
  }
  input{       
    background-color: white;
    border: 3px solid rgb(64, 70, 70);
    padding: 4px;
    border-radius: 10px;
    color: black;
    font-size: large;
   margin-left: 40%;

    
  }
  button{
    background-color: rgb(34, 83, 34);
    font-size: large;
    border-radius: 8px;
    border: none;
    padding: 10px 15px;
    color: white;
  }     
 #movies{
   width: 90%;
   margin: auto;
   
   display: grid;
   grid-template-columns: repeat(4,1fr);
 }
 #movies>div{
   width: 80%;
   margin: auto;
 
   border: 3px solid rgb(84, 88, 88);
   text-align: center;
   margin-top: 20px;
   line-height: 35px;
   padding: 15px;
 }
 img{
   width: 100%;
 }
 button:hover {
   
  color: rgb(32, 30, 30);
}